# Environment
ENV=development

# Server Configuration
API_PORT=8080
CLIENT_URL=http://localhost:3000
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:8000

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=db_name
DB_SSL_MODE=disable


# Firebase Configuration
FIREBASE_PROJECT_ID=your-project-id

# GH WEBHOOK delivery
GITHUB_WEBHOOK_SECRET=test_secret_for_validation
WEBHOOK_DEPLOY_SCRIPT_PATH=/app/scripts/webhook-deploy.sh
# SLACK_WEBHOOK_URL=https://hooks.slack.com/services/???

# Rate Limiting
RATE_LIMIT_REQUESTS=10
RATE_LIMIT_BURST=30

# Logs
LOG_FILE=./logs/api.log

# Tunnel
TUNNEL_PORT=4443
GRPC_TUNNEL_PORT=4444

# Telegram
TELEGRAM_BOT_TOKEN=YOUR_TOKEN_HERE
TELEGRAM_CHAT_ID=1234

# Recaptcha
RECAPTCHA_SECRET_KEY=SECRET_KEY

# Secure subdomain generation
SUBDOMAIN_SECRET='SECRET_KEY'